.base {
  @apply py-1 px-2 m-1
  text-white rounded-md font-semibold
    transition-all;

  &:hover {
    @apply opacity-90;
  }

  &:active {
    @apply translate-y-0.5;
  }
}

.primary {
  @apply bg-slate-500;
}

.red {
  @apply bg-red-500;
}

button[type="submit"] {
  @extend .primary;
  @apply bg-slate-700;
}
