.base {
  @apply md:mb-0 md:static
  md:p-2
  flex justify-end
  absolute top-2 right-2
  transition-all duration-500;
}

.theme {
  @apply w-11 h-11 p-1 
  bg-slate-500 text-white
  rounded-full;

  &:hover {
    @apply opacity-90;
  }

  &-dark {
    @apply hidden;
  }

  &-light {
    @apply inline-flex;
  }
}
